<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr_140_comp">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find kuka_robot_descriptions)/urdf/kr_140_comp_macro.xacro"/>
  <link name="world"/>
  <xacro:kr_140_comp prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:kr_140_comp>
</robot>
