<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr_480_r3330_mt_f_k">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find kuka_robot_descriptions)/urdf/kr_480_r3330_mt_f_k_macro.xacro"/>
  <link name="world"/>
  <xacro:kr_480_r3330_mt_f_k prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:kr_480_r3330_mt_f_k>
</robot>
