<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr_8_r1440_2_arc_hw_e">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find kuka_robot_descriptions)/urdf/kr_8_r1440_2_arc_hw_e_macro.xacro"/>
  <link name="world"/>
  <xacro:kr_8_r1440_2_arc_hw_e prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:kr_8_r1440_2_arc_hw_e>
</robot>
